* {
  margin:0;
  padding: 0;
}

nav {
  background-color: rgb(243, 112, 112);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav .nav-content {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

/* for the difference caused by the sticky navigation */

.link {
  text-decoration: none;
  background-color: rgb(243, 112, 112);
  color:#fff;
  display: inline-block;
}

.link.btn {
  padding: 30px;
  font-weight: bold;
}

.link.btn:hover {
  background-color: rgb(233, 80, 80);
}

.content {
  padding-top: 81px;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}

.products .product {
  margin: 20px 15px;
  padding: 0 0 20px 0;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgb(218, 218, 218);
}

.products .product .img-container {
  width: 100%;
  height: 200px;
  background-color: rgb(184, 184, 184);;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.products .product .img-container img {
  height: 100%;
}

.products .product .product-content {
  padding: 10px 20px 0;
  display: flex;
  justify-content: space-between;
}

.products .product .product-content .left {
  flex-basis: 70%;
}

.products .product .product-content .right {
  flex-basis: 30%;
  text-align: right;
}

.products .product .product-content .right h3 {
  text-align: right;
  padding-bottom: 10px;
}

.products .product button {
  background-color: #fff;
  color: rgb(243, 112, 112);
  border: 1px solid rgb(243, 112, 112);
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.products .product button:hover {
  border: 1px solid transparent;
  background-color: rgb(243, 112, 112);
  color: #fff;
  cursor: pointer;
}

.products .product button:active {
  transform: scale(0.95);
}

.item-notification {
  display: none;
}

.link.btn.has-items {
  position: relative;
}

.link.btn.has-items .item-notification {
  display: block;
  text-align: center;
  position: absolute;
  bottom:-5px;
  left:-5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
}

