@media screen and (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 900px) {
    .products {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 600px) {
    .products {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {     
      nav .nav-content {
        flex-direction: column;
        align-items: center;
      }

      nav .nav-content h1 {
          padding: 20px 0;
      }

      .content {
          padding-top: 153px;
      }
}