/* .App {
  text-align: center;
} */

nav {
  background-color: rgb(243, 112, 112);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  background-color: rgb(243, 112, 112);
  color:#fff;
  display: inline-block;
}

.link.btn {
  padding: 30px;
  font-weight: bold;
}

.link.btn:hover {
  background-color: rgb(233, 80, 80);
}

.products {
  display: flex;
  justify-content: space-around;
}

.products .product {
  /* flex-basis:100px; */
  border: 1px solid red;
}

.item-notification {
  display: none;
}

.link.btn.has-items {
  position: relative;
}

.link.btn.has-items .item-notification {
  display: block;
  text-align: center;
  position: absolute;
  bottom:-5px;
  left:-5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
}

